# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.MyDocumentedProject.iml
# Datasource local storage ignored files
/../../../../../../:\6freedom\MyDocumentedProject\.idea\.idea.MyDocumentedProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
